<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1382" />
    <add key="mainForm.Height" value="744" />
    <add key="/lpc/f71858/voltage/0/plot" value="false" />
    <add key="/lpc/f71858/voltage/1/plot" value="false" />
    <add key="/lpc/f71858/voltage/2/plot" value="false" />
    <add key="/lpc/f71858/temperature/0/plot" value="false" />
    <add key="/lpc/f71858/temperature/1/plot" value="false" />
    <add key="/lpc/f71858/temperature/2/plot" value="false" />
    <add key="/lpc/f71858/fan/0/plot" value="false" />
    <add key="/lpc/f71858/fan/1/plot" value="false" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADM8JHYvvOyWBwPDgf9LduxmZIAA11vyoXwwNgAPxr2jJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADM8JHYvvOyWBwPDgf9LduxmZACB0gvO5+SSmUDMhLPnnB8eSwOzG06ec770JBHCPnrS2UeoCMLeedLZTiMEwtY86XxeCqK3YeIJZwAVv+BbYAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADM8JHYvvOyWBwPDgf9LduxmZACCA49Ou5yTS2YCsVf4nHF5eCwNzF7ge8bl0pNECLvvrIuPUBGEPfGsi51GCIS99azLeSmI3gW3z7oAAJSyaDFgAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEADM8JHYvvOyWBwPDgf9LduxmZACCjNuLHM/JJTOB2MUTFjo+PJYGZuf0LnS89CQRzPZZNNfRR6gIzH4zY66jnUYIRI3GXMfzUhC9azbOcQQAlKm6w2AAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEADM8JHYvvOyWBwPDgf9LduxmZIAA+4vfk5ggzAa7a8fS4GzFx4lQNgMDq3URjG1vyhgCF3f8htALALPJ68ZgAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf977+9mZIAC5yshfDA2ACTA2pYkAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf977+9mZACDDoeL35OYIGwBh2vH0uBsxceJUDaDA6t1EZSt4GDKGAIXd/yG0AsAIlUiyGAAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf977+9mZACDEw4XvycxQdgNdteOpUHZDPaKjxNhbAZW6yKYGntTxhC4uOM3hF4AEqZC82AAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf977+9mZACCi1JrXS5+T2KCsa8dSwOzD0vcc1F8nAgXZ7UugrNNGUPgahy/IfQCAHkY8j9gAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf977+9mZACCyJkyrs5XQvhgbADp2oy3JAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf977+9mZACCi1K6Lhe/JzHB2NeOpYHZhyXiXBQfJ8LFWa2L4GxTxhC4GsdvCL0AabCremAAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJOYLXYvvOyWBwPDgf8Hdu5mZACDCKcbdz5yw9hh35KYIOwYJwC17Vg2MAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALv9m/leeNktDwaGA/8jbqUzMQBBSWCtQxF3EpidIFznEGMDEW9ZXOfwEyoucaHOYdreRDC7R7be4bFeCpidU1TvcG9zKpj95X+9AwBbGB7jYAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALv9m/leeNktDwaGA/8jbqUzMQCBmkCDQxF3EpidEFfvEGMDEbc5V+fwEyq+YmGdw7S9iWC2SUidw2O9FDA75H+tw73NqWD2mcJaBwBaLRgtYAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALv9m/leeNktDwaGA/8jbqUzMQCBqZSnUxF3Epj9qdHDKcYGIn5MwMPpJ1T82Ft3p2l7E8HsLxvcnR7rpYDZAXnuTvc2p4LZBv/dnAByO1h9YAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/9vMd1mZACC69vEXXd9S2ICsc0WTXXZMT8NzJ46aZ3LLW6IuDlQXNK8CMwWunzepZg5BMwWBbLDkPQCAPj1OhJgAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/+fTrzByAAErudNXKd/S2ICsc0WTXW5Mj8NzC46/MLlLTdE3Bwo7mZeBGYLXT7vksocAmaLAtm9nxF6AfQTCjNgAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/+fKFxjZAAC1/Mmrtu/JTGB2GaLprpEzU8Ds82B7BieJDj7j1kRmC10+bzLHOYQMFsUyBZF0gsA3+B7v2AAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA//z119mZACCG9vEXZm/JzGB2GaLprq8nJ8GZv9kZHX9xg0RNweK85kXgdlCl8+7ZDKHgNmiQHbsN4ReABZATf5gAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/9vMd1mZACCJCZW513fkphA7B+MrM6rH1mxw9jFzCFg8e9AdhiSGgB2dl/fSAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/9XJV9kZACDUiffb0lMEHa0E+OCNCg7wUmSDyYe4XScrwjKTnEK0wyBsqOcTn6HqQl3AgBPqbJaYAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/9XJV9kZACDRCffb0lMEHaYE+OCNCg7wkmSDyYe4nScrwjKDnUK0wyBs09+h6kJcgIA9HoF4GAAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/9XJV9kZACDJCffb0lMEHaIE+OCNCg73CnkeSKUHeDUY1oEZQc5hWmGwNknv8P0+jsBAFkqVktgAAAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPsX+P1ueNktDwaGA/9XJV9kZACDXCffb0lMEHaoE+OCNCg7yinkeSKUHeLUY1oEZYc5hWmGwNWf/A7TG+wEAEdH3IJgAAAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAHN58ulueNktDwaGA//DV11lZACCyg33HKJkk5lAbAaHrQ6MC9LA7B1xGo4hzxPB7KN+nQ49pkVg9v//hxzCNEPA7H6D7Q4nvyeB2RWLOhwA+UyYo2AAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAOve/+lueNktDwaGA/8Fzl9lZACCNwaVDlGyyUwgdsOP2Q6MC9LA7Hf/DjiEPE8Es2Vqftj3mBaB2Ydze+3DNEPAbA5vcYeT35PAbIcyN3sAJSe2X2AAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAOve/+lueNktDwaGA/8Fzl9lZACCq1VbHKJkk5kYwMDDgXFBGpj9muWtQ8jzRDD7xDl3hx7TIjA767awQ5hmCJjdv2Giw8nvSWC2iPU6ewB4xwGQYAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAOve/+lueNktDwaGA/8Fzl9lZACCLKNTDlGyyUwgdtfcSgfGBWlg9o3Oyw4hzxPB7LgtSg49pkVg9p5cDocwzRAwuyKY0+Hk9yQwm4Fhmj0AmusFs2AAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAOve/+lueNktDwaGA/8Fzl9lZACCrtptDlGyyUwg9oXGHgfGBWlg9olJXxxCnieC2RvC7Rx6TIvAbEYHK4cwzRAw22BGjsPJ70lgNkfDJ3sAD9tvL2AAAAA=" />
    <add key="/lpc/f71858/fan/3/values" value="H4sIAAAAAAAEALN7nXM3vOyWBwPDgf/f1b4yMUCBsEw4H4wNAJwNIGokAAAA" />
    <add key="/lpc/f71858/fan/2/values" value="H4sIAAAAAAAEALN7nXM3vOyWBwPDgf/f1b4yMUCBsEw4H4wNAJwNIGokAAAA" />
    <add key="/lpc/f71858/fan/1/values" value="H4sIAAAAAAAEALN7nXM3vOyWBwPDgf/f1b4yMQBB/QI21zruJDB7X8xjl1ybdAg746nLRah4c+89lzV7E8Hs9vX3XNZXp4DZAuz3XP70pYLZ7hr3XADPh6YmYAAAAA==" />
    <add key="/lpc/f71858/fan/0/values" value="H4sIAAAAAAAEALN7nXM3vOyWBwPDgf/f1b4yMQDBhisbXeq4k8Dsb5yrXXJt0sHsrLJVLheh4lL+q1zW7E0Esx/cWOWyvjoFzHZ9s9LlT18qmN3DsNoFAN++YSBgAAAA" />
    <add key="/lpc/f71858/temperature/2/values" value="H4sIAAAAAAAEADt4LOdueNktDwaGA/9LvL8yMYBAQrxTHXcShN0Q75Rrkw4Vj3O6CBNfEOu0Zm8ihO0Q57S+OgWu909fKlQ8wQkAGoUBomAAAAA=" />
    <add key="/lpc/f71858/temperature/1/values" value="H4sIAAAAAAAEADt4LOdueNktDwaGA/9LvL8yMYDAAiunOu4kCFtByynXJh3K1nO6CBN/oOK0Zm8ihO2g5rS+OgXCblBz+tOXCmEnKDkBAMImLQlgAAAA" />
    <add key="/lpc/f71858/temperature/0/values" value="H4sIAAAAAAAEADt4LOdueNktDwaGA/9LvL8yMYBAg7JTHXcShL1A2SnXJh3CPqDidBEmrqDqtGZvIlRc1Wl9dQqEnaDm9KcvFcJmUHMCAEqzuqlgAAAA" />
    <add key="/lpc/f71858/voltage/2/values" value="H4sIAAAAAAAEAJOcm3M3vOyWBwPDgf8ypV+ZGICArTHUoY47CcyecCjUIdcmHcyWZAlzqD15mAXGXl+dAhbvB6r505cKVwMAJOGSvFQAAAA=" />
    <add key="/lpc/f71858/voltage/1/values" value="H4sIAAAAAAAEAJOcm3M3vOyWBwPDgf8ypV+ZGICgbHKEQx13Epyda5MOZneIRTpoXOnlhLEBgYG5QzwAAAA=" />
    <add key="/lpc/f71858/voltage/0/values" value="H4sIAAAAAAAEAPtVmnM3vOyWBwPDgf/Wc74yMQBBskCEQx13Eph961y4Q65NOlxc40ovJ4wNAMK3fo88AAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>